[Unit]
Description=Increases sampling frequency of the IIO accelerometer
Before=sensorfwd.service
Wants=dev-iio:device4.device
After=dev-iio:device4.device


[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/droid/iio_increase_sampling_frequency.sh

[Install]
WantedBy=graphical.target
